.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 2s
  }
.ex-1-square:hover{
  background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
.ex-2-square:active{
  width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 2s
}
.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: hidden;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes hidden {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 2s;

}
.ex-5-square:hover{
  transform: scale(2);
}
.ex-5-square:active{
  transform: scale(0.5);
}


.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: 1s;
}
.ex-6-img:hover{
  filter: grayscale(1);
}
.ex-7-img:hover{
  filter: blur(2px) hue-rotate(80deg);
}
.ex-8-img:hover{
  filter: sepia(1) brightness(1.5);
  border-radius: 50px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: transform 1s, border-radius 1s, filter 2s;
}
.ex-9-img:hover{
  transform: scale(1.5);
  border-radius: 50px;
  filter: saturate(4) brightness(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation:Rotation 2s linear infinite;
}
@keyframes Rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}



/* CONTROLLARE MANNAGGINA */
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover{
  animation-name: spin_270;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}
@keyframes spin_270 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(270deg);
  }
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: left 0.2s linear;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    transition: right linear 0.2s;
}



.ex-12-button:hover .ex-12-top-white{
  left: 50%;
}

.ex-12-button:hover .ex-12-bottom-white{
  right: 60%;
}

.ex-13-top-white{
  animation-name: clocktop;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes clocktop {
  0% {top: -10px; left: 10%; background: red;}

  10%  {top: -10px; left: 80%; background: blue; width: 60px; height: 20px}

  20%  {top: -10px; left: 98%; background: blue; width:20px; height: 60px;}

  30%  {top: 40px; left: 98%; background: yellow;width:20px; height: 60px;}

  40%  {top: 55px; left: 80%; background: yellow;width:60px; height: 20px;}

  50%  {top: 55px; left: -3%; background: yellow;width:60px; height: 20px;}

  60%  {top: 55px; left: -10%; background: green;width:20px; height: 60px;}

  70%  {top: 0px; left: -10%; background: green;width:20px; height: 60px;}

  80% {top: -10px; left: -13%; background: red;width:60px; height: 20px;}

  90% {top: -10px; left: -10%; background: red;width:60px; height: 20px;}

  100% 0%{ top: -10px; left: 10%; background: red; width:60px; height: 20px;}














/* FINE */
